<h1> Good Ending </h1>

<p>     You drive out of the city to view your final sunset
    You think of all that could’ve been,
    But you did make something of these final moments.
    \n
    Yet…
    You still fear death
    The sunset seems extra spectacular tonight.
    But the feeling of dread is too much to bear
    *Bzzt*
    It’s your sister. She’s sent you a text
    It’s a picture of a baby boy you didn’t even know she had
    \n
    This makes you so damn happy.
    Life goes on
    People live and die
    Time to come to the same fate as the majority of human beings have already succumbed to
    THE END</p>

<p><a href ="/"> Play Again</a></p>