<h1> Bad Ending </h1>

<p> You drive out of the city to view your final sunset
    You think of all that could’ve been,
    But instead you wasted these last final moments
    being as trivial and unimportant as you have always been
    THE END</p>

<p><a href ="/"> Play Again</a></p>